:root {
  /***************  Root Settings  **************/
  /* Background */
  --navbar-background: #dcd7d7; /* Background navbar */
  --body-background: #ffffff; /* Background body */
  --card-background: #ffffff; /* Background card */
  --main-background: #4fb3b4; /* Background main color for section */
  --secondary-background: #f6f7fb; /* Transparent secondary background */
  --primary-button-background: transparent; /* Background btn primary */
  --dark-button-background: #3d3d3db2; /* Background btn dark */
  --secondary-button-background: transparent; /* Background btn secondary */
  /* Colors */
  --text-white: #ffffff; /* Color white for text */
  --text-black: #222; /* Color black for text */
  --text-dark: #3e3e3e; /* Color dark for text */
  --primary-color: #4d4d4d; /* Color primary */
  --secondary-color: transparent; /* Color secondary */
  /* Box Shadow  */
  --department-box-shadow: 1px 1px 18px #c3c3c3, -1px -1px 18px #fdfdfd; /* Box shadow for department */
  --button-box-shadow: 0px 0px 8px var(--text-dark); /* Box shadow for button */
  /* Size Card  */
  --department-card-width: 220px; /* Width card department  */
  --department-card-height: auto-fit; /* Height card department  */
  --department-card-min-height: 215px; /* Height card department  */
  --dropdown-content-width: 180px; /* Width dropdown content */
}
/* Reset styles for all elements */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

/* Set the font family for the entire body */
body {
  font-family: "Times New Roman", Times, serif !important;
}

/* Remove text decoration from all anchor elements */
a {
  text-decoration-line: none !important;
}

/* Define styles for social media icons with the id 'media' */
#media {
  font-size: 24px;
}

/* Styling for the header image container */
.image-container {
  position: relative;
  height: 270px;
}

/* Styling for the header image */
.header-img {
  height: 270px;
}

/* Overlay styles for the header image */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(112, 184, 184, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Styles for department cards */
.department {
  width: var(--department-card-width) !important;
  height: var(--department-card-height) !important;
  background-color: var(--card-background) !important;
  padding: 7px !important;
  min-height: var(--department-card-min-height);
  min-width: fit-content !important;
}

/* Styles for the Subscribe button */
.btn-Subscribe {
  /* Styles for the button and its animation */
  display: inline-block;
  transition: all 0.2s ease-in;
  position: relative;
  overflow: hidden;
  z-index: 1;
  color: var(--text-white);
  padding: 0.3em 0.5em;
  font-size: 18px;
  border-radius: 0.5em;
  background: transparent;
  border: 1px solid var(--main-background);
}

/* Hover state for the Subscribe button */
.btn-Subscribe:hover {
  color: var(--text-white);
  border: 1px solid var(--main-background);
}

/* Animation for the Subscribe button:before */
.btn-Subscribe:before {
  /* Styles for the button:before element and its animation */
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scaleY(1) scaleX(1.25);
  top: 100%;
  width: 140%;
  height: 180%;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

/* Animation for the Subscribe button:after */
.btn-Subscribe:after {
  /* Styles for the button:after element and its animation */
  content: "";
  position: absolute;
  left: 55%;
  transform: translateX(-50%) scaleY(1) scaleX(1.45);
  top: 180%;
  width: 160%;
  height: 190%;
  background-color: var(--main-background);
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

/* Hover state for the Subscribe button:before */
.btn-Subscribe:hover:before {
  top: -35%;
  background-color: var(--main-background);
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

/* Hover state for the Subscribe button:after */
.btn-Subscribe:hover:after {
  top: -45%;
  background-color: var(--main-background);
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

/* Styling for cards and departments with borders and hover animation */
.card {
  border: var(--primary-color) solid 3.5px;
  transition: all 3s ease;
}

/* Hover state for cards and departments with animation */
.card:hover{
  animation: borders 2s ease;
}

/* Border styles for specific screen width using media query */
#border-form {
  border-left: var(--main-background) 2px solid;
}

/* Animation for borders */
@keyframes borders {
  /* Keyframes for different border styles */
  0% {
    border-bottom: var(--main-background) solid 3.5px;
  }
  25% {
    border-bottom: var(--main-background) solid 3.5px;
    border-right: var(--main-background) solid 3.5px;
  }
  50% {
    border-bottom: var(--main-background) solid 3.5px;
    border-right: var(--main-background) solid 3.5px;
    border-left: var(--main-background) solid 3.5px;
  }
  75% {
    border-bottom: var(--main-background) solid 3.5px;
    border-right: var(--main-background) solid 3.5px;
    border-left: var(--main-background) solid 3.5px;
    border-top: var(--main-background) solid 3.5px;
  }
  100% {
    border: var(--main-background) solid 3.5px;
  }
}

/* Media query for smaller screens */
@media (max-width: 995px) {
  #border-form {
    border-top: var(--main-background) 2px solid;
    border-left: none;
  }
}

/* Initial styles for hiding elements */
.slide-in-left {
  opacity: 0;
  transform: translateX(-100%);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

/* Animation to show elements after the effect */
.aos-animate .slide-in-left {
  opacity: 1;
  transform: translateX(0);
}
